@import 'abstracts/variables';
@import 'abstracts/queries';

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: [center-start] repeat(8, minmax(min-content, 1fr)) [center-end];

  @include for-tablet-portrait-up {
    grid-template-columns: [full-start] 1rem [center-start] repeat(8, minmax(min-content, 1fr)) [center-end] 1rem [full-end];
  }

  @include for-small {
    grid-template-columns: [full-start] 6rem [center-start] repeat(8, minmax(min-content, 1fr)) [center-end] 6rem [full-end];
  }

  @include for-large {
    grid-template-columns: [full-start] 1fr [center-start] repeat(8, 6rem) [center-end] 1fr [full-end];
  }

  @include for-x-large {
    grid-template-columns: [full-start] 1fr [center-start] repeat(8, 8rem) [center-end] 1fr [full-end];
  }

  &__content--center {
    grid-column: center-start / center-end;
    padding: 1rem;
  }

  &__content--full {
    grid-column: 1 / -1;
    padding: 1rem;
  }
}
