.container {
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, minmax(min-content, 10rem)) [center-end] 1fr [full-end];
  justify-content: center;

  @media only screen and (max-width: $bp-xlarge) {
    grid-template-columns: [full-start] 10rem [center-start] repeat(8, minmax(min-content, 1fr)) [center-end] 10rem [full-end];
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: [center-start] repeat(8, minmax(min-content, 1fr)) [center-end];
  }

  @media only screen and (max-width: $bp-mobile) {
    grid-template-columns: [center-start] repeat(8, minmax(min-content, 1fr)) [center-end];
  }

  &__content--center {
    grid-column: center-start / center-end;
  }

  &__content--full {
    grid-column: 1 / -1;
  }
}
