<section class="container home">
  <div class="home__landscape container__content--full">
    <div class="text">
      <h1 class="home__landscape__heading">Code Sage</h1>
      <p class="home__landscape__subheading">Ignite your passion for coding</p>
    </div>
  </div>
  <div class="home__blogs container__content--center">
    <h2 class="home__blogs__heading">{{ 'blog-latest' | translate }}</h2>
    <app-blog-list [isBlogsPreview]="true" [itemsPerPage]="itemsPerPage"></app-blog-list>
  </div>
</section>
