@import 'abstracts/variables';
@import 'abstracts/queries';
@import 'base/typography';

.home {
  display: grid;
  gap: 2rem;
  margin-bottom: 5rem;

  &__landscape {
    background: $color-main;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &__heading {
      @include landscape-heading;
    }

    &__subheading {
      @include landscape-subheading;
    }
  }

  &__blogs {
    display: grid;
    gap: 3rem;

    &__heading {
      @include blog-section-heading;
    }
  }
}
