$color-main: #0d47a1;
$color-accent: #f57c00;
$color-light: #fbeaeb;

$color-text-dark: #3d3a3a;
$color-text-light: #6c6565;

$bp-mobile: 37.5em; // 600px
$bp-small: 53.125em; // 850px
$bp-medium: 62.5em; // 1000px
$bp-large: 75em; // 1200px
$bp-larger: 85em; // 1360px
$bp-xlarge: 103.125em; //1650px
