@import 'abstracts/queries';
@import 'base/typography';

.blogs-list {
  display: grid;
  gap: 1rem;

  .divider {
    width: 85%;
    margin: 1rem auto;
  }

  &-button {
    .mat-mdc-unelevated-button.mat-accent {
      --mdc-filled-button-label-text-color: #fbeaeb !important;
    }

      @include typography-token(1rem, 400, $color-light);
      padding: 1rem 1.5rem;
      margin: 0 auto;

      @include for-small {
        @include typography-token(1.2rem, 400, $color-light);
        padding: 1.2rem 1.7rem;
      }

      @include for-large {
        @include typography-token(1.4rem, 400, $color-light);
        padding: 1.4rem 2rem;
      }
  }

  &__view-all {
    display: flex;
    justify-content: center;
  }
}
