@import 'abstracts/variables';
@import "base/typography";

:host {
  cursor: pointer;

  &:hover {
    .blog {
      &__title {
        color: $color-main;
      }
    }
  }
}

.blog {
  display: grid;
  gap: 0.5rem;

  &__title {
    @include blog-title;

    display: block;
  }

  &__date {
    @include blog-date;
  }

  &__content {
    @include blog-text;
    hyphens: auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__tags {
    cursor: pointer;

    &__tag {
      @include blog-tag;
      background: $color-main !important;
      --mdc-chip-label-text-color: $color-text-light;
    }
  }
}
