<section class="container">
  <div class="container__content--center">
    <form class="form-content" [formGroup]="createBlogForm">
      <ng-container formArrayName="blogs">
        <h2 class="span-12">{{ 'blog-create' | translate }}</h2>
        <button mat-flat-button color="primary" (click)="addBlogLanguage(Languages.CS)">CZ</button>
        <button mat-flat-button color="primary" (click)="addBlogLanguage(Languages.EN)">EN</button>
        <ng-container
          *ngFor="let blogForm of blogsFormArray?.controls; let i = index"
          [formGroupName]="i">
          <h3 class="span-12"
            >{{ 'language' | translate }} :
            {{ 'language-' + blogForm.controls.language.value | translate }}</h3
          >
          <mat-form-field class="span-12" appearance="outline">
            <mat-label>{{ 'blog-title' | translate }}</mat-label>
            <input matInput formControlName="title" />
            <mat-error>{{ 'form-required' | translate }}</mat-error>
          </mat-form-field>
          <mat-form-field class="span-12" appearance="outline">
            <mat-label>{{ 'blog-content' | translate }}</mat-label>
            <textarea matInput formControlName="content"></textarea>
            <mat-error>{{ 'form-required' | translate }}</mat-error>
          </mat-form-field>
          <button
            class="remove-button span-12"
            mat-flat-button
            color="primary"
            (click)="removeBlog(i)"
            >{{ 'remove' | translate }}</button
          >
        </ng-container>
      </ng-container>
      <h2 class="span-12">{{ 'blog-tags' | translate }}</h2>
      <mat-form-field class="span-12" appearance="outline">
        <mat-label>{{ 'blog-tags' | translate }}</mat-label>
        <mat-chip-grid #chipGrid formControlName="tags">
          <mat-chip-row
            *ngFor="let tag of tags"
            (removed)="removeTag(tag)"
            [editable]="true"
            (edited)="editTag(tag, $event)">
            {{ tag }}
            <button matChipRemove [attr.aria-label]="'remove ' + tag">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          <input
            [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addTag($event)" />
        </mat-chip-grid>
        <mat-hint>{{ 'chips-hint' | translate }}</mat-hint>
        <mat-error>{{ 'form-required' | translate }}</mat-error>
      </mat-form-field>
      <div class="form-actions">
        <button
          class="submit-button"
          mat-flat-button
          color="primary"
          (click)="createBlog()"
          [disabled]="createBlogForm.invalid"
          >{{ 'create' | translate }}</button
        >
      </div>
    </form>
  </div>
</section>
