<mat-drawer-container class="content" hasBackdrop="true">
  <mat-drawer position="end" #drawer mode="over" opened="false">
    <mat-nav-list>
      <ng-container *ngFor="let item of MENU_ITEMS">
        <a [routerLink]="item.url" mat-list-item class="list-item">{{ item.name | translate }}</a>
      </ng-container>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <app-language-switch class="language"></app-language-switch>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
