@import 'base/typography';
@import 'abstracts/queries';

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
}

h1 {
  @include typography-token(1rem, 500, $color-text-dark, center);

  @include for-small {
    @include typography-token(1.2rem, 500, $color-text-dark, center);
  }

  @include for-large {
    @include typography-token(1.5rem, 500, $color-text-dark, center);
  }
}

mat-icon {
  scale: 1.8;
}
