<mat-toolbar class="navbar">
  <div class="navbar__logo">
    <span>Code Sage</span>
  </div>
  <div *ngIf="!drawerControls.mobileQueryMatches()" class="navbar__buttons">
    <ng-container *ngFor="let item of MENU_ITEMS">
      <button mat-flat-button [class.background-light]="!item?.color" [color]="item?.color">{{
        item.name | translate
      }}</button>
    </ng-container>
  </div>
  <div *ngIf="!drawerControls.mobileQueryMatches()" class="navbar__lang">
    <app-language-switch></app-language-switch>
  </div>
  <div *ngIf="drawerControls.mobileQueryMatches()">
    <button mat-icon-button (click)="drawerControls.toggleDrawer()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
