@import 'abstracts/variables';

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  background: $color-light;

  button {
    font-size: 1.2rem;
    align-self: stretch;
    padding: 1.3rem;
  }
}
