@import 'abstracts/variables';
@import 'abstracts/queries';

@mixin typography-token(
  $font-size,
  $font-weight: 400,
  $color: $color-text-dark,
  $text-align: left,
  $letter-spacing: normal,
  $word-spacing: normal
) {
  font-size: $font-size;
  color: $color;
  text-align: $text-align;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  word-spacing: $word-spacing;
}

@mixin landscape-heading {
  @include typography-token(2rem, 500, $color-light, center);

  @include for-small {
    @include typography-token(2.5rem, 500, $color-light, center);
  }

  @include for-large {
    @include typography-token(3.2rem, 500, $color-light, center);
  }

  @include for-x-large {
    @include typography-token(3.5rem, 500, $color-light, center);
  }
}

@mixin landscape-subheading {
  @include typography-token(1.3rem, 500, $color-accent, center);

  @include for-small {
    @include typography-token(1.7rem, 500, $color-accent, center);
  }

  @include for-large {
    @include typography-token(2.2rem, 500, $color-accent, center);
  }

  @include for-x-large {
    @include typography-token(2.5rem, 500, $color-accent, center);
  }
}

@mixin blog-section-heading {
  @include typography-token(1.7rem, 500, $color-text-dark, center);

  @include for-small {
    @include typography-token(1.85rem, 500, $color-text-dark, center);
  }

  @include for-large {
    @include typography-token(2.2rem, 500, $color-text-dark, center);
  }

  @include for-x-large {
    @include typography-token(2.3rem, 500, $color-text-dark, center);
  }
}

@mixin blog-title {
  @include typography-token(1.2rem, 500);

  @include for-small {
    @include typography-token(1.3rem, 500);
  }

  @include for-large {
    @include typography-token(1.5rem, 500);
  }

  @include for-x-large {
    @include typography-token(1.65rem, 500);
  }
}

@mixin blog-text {
  @include typography-token(0.9rem, 400, $color-text-light, justify);

  @include for-large {
    @include typography-token(1rem, 400, $color-text-light, justify);
  }
}

@mixin blog-date {
  @include typography-token(0.9rem, 500, $color-accent);

  @include for-large {
    @include typography-token(1rem, 500, $color-accent);
  }
}

@mixin blog-tag {
  @include typography-token(0.8rem, 400, $color-light);

  @include for-large {
    @include typography-token(0.9rem, 400, $color-light);
  }
}

@mixin blog-detail-heading {
    @include typography-token(1.7rem, 500, $color-text-dark);

    @include for-small {
      @include typography-token(1.85rem, 500, $color-text-dark);
    }

    @include for-large {
      @include typography-token(2.2rem, 500, $color-text-dark);
    }

    @include for-x-large {
      @include typography-token(2.3rem, 500, $color-text-dark);
    }
}
