@import 'abstracts/variables';

@mixin typography-token(
  $font-size,
  $font-weight: 400,
  $color: $color-text-dark,
  $text-align: left,
  $letter-spacing: normal,
  $word-spacing: normal
) {
  font-size: $font-size;
  color: $color;
  text-align: $text-align;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  word-spacing: $word-spacing;
}

@mixin blog-title {
  @include typography-token(1.6rem, 500);
}

@mixin blog-text {
  @include typography-token(1rem, 400, $color-text-light, justify);
}

@mixin blog-date {
  @include typography-token(1rem, 500, $color-accent);
}

@mixin blog-tag {
  @include typography-token(1rem, 500, $color-light);
}
